<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">
    <!--指定当前工程在管控平台中的名称-->
    <dubbo:application name="10-provider-async" />

    <dubbo:registry address="zookeeper://localhost:2181" simplified="true"/>

    <!--注册业务接口实现类， 它是真正的服务提供者-->
    <bean id="otherService" class="me.warriorg.dubbo.service.provider.OtherServiceImpl"/>
    <!--服务暴露-->
    <dubbo:service interface="me.warriorg.dubbo.service.OtherService" ref="otherService"></dubbo:service>
</beans>