<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">
    <!--指定当前工程在管控平台中的名称-->
    <dubbo:application name="06-consumer-mocknull" />

    <dubbo:registry protocol="zookeeper" address="localhost:2181,localhost:2182,localhost:2183"/>

    <dubbo:reference id="userService" mock="return null" check="false"
                     interface="me.warriorg.dubbo.service.UserService"/>
</beans>